<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="author" content="{{ $.Param "author" }}">
    <meta name="description" content="{{ $.Param "description" }}">
    <meta name="keywords" content="UOB One Card, one card,one,uob one card,cash rebates,credit card,paywave,cards,apply for a credit card,apply for credit cards,uob smart$,uob smartclub,uob smart club,cash rebate,cash rebates,minimum spend,dining privileges,terms & conditions,terms and conditions,uob,uob bank,united overseas bank singapore,united oversea bank,uob singapore,singapore uob,uob sg,sg bank,singapore bank,uob com sg,uob.com.sg,uob.com,uobgroup,uob group,uob branch">
    <link rel="canonical" href="http://www.uob.com.sg/personal/cards/credit/one/" />
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "css/styles.min.css" | relURL }}"/>
  </head>
  <body>
