{{ partial "head" . }}

		<div class="page-container priviliges-container">
			
			{{ partial "navbar" . }}

	        <section class="header-container">
	            <div class="container ">

	                <div class="row">

	                    <div class="col-sm-12 col-md-6">
	                        <img class="" src="{{ "/img/apply-now-priviliges.png" | relURL }}" />
	                    </div>

	                    <div class="col-sm-12 col-md-6 col-lg-6">
	                        <h1 class="headline">
	                        	PUMP UP WITH YOUR UOB CARD FOR GREATER SAVINGS AT SHELL
	                        </h1>
	                        <div class="row">
	                        	<div class="col-sm-6 col-md-6 col-lg-6 column-image">
		                            <img class="" src="{{ "/img/shell_photo.jpg" | relURL }}" />
	                        	</div>
	                        	<div class="col-sm-6 col-md-6 col-lg-6">
		                            <p>Enjoy up to 20.8%1 savings on your fuel purchases with UOB Cards at Shell stations islandwide!</p>
	                        	</div>
	                        </div>                                   
	                    </div>

	                </div>

	            </div>
	        </section>

	        <section class="example-savings">
	        	<div class="container ">

	                <div class="row">

	                    <div class="col-sm-12 col-md-6">
	                        
	                    </div>

	                    <div class="col-sm-12 col-md-6 col-lg-6">
	                        <table class="table">
								<thead>
									<tr>
										<th scope="col">Example of savings calculations based on S$100 Gross spend on fuel purchases at Shell</th>
										<th scope="col">UOB One Card</th>
										<th scope="col">Other UOB Credit/Debit Cards</th>
									</tr>
								</thead>
							<tbody>
							<tr>
								<th scope="row">Shell Station Discount</th>
								<td>S$5.00</td>
								<td>S$5.00</td>
							</tr>
							<tr>
							<th scope="row">Shell Escape Card Discount</th>
								<td>S$5.00</td>
								<td>S$5.00</td>
							</tr>
							<tr>
							<th scope="row">Nett Spend (Less Station And Escape Discount)</th>
								<td>S$90.00</td>
								<td>S$90.00</td>
							</tr>
							<tr>
							<th scope="row">7% SMART$ Rebate for UOB One Card</th>
								<td>S$6.30</td>
								<td>-</td>
							</tr>
							<tr>
							<th scope="row">4% SMART$ Rebate for Other UOB Credit/Debit Cards</th>
								<td>-</td>
								<td>S$3.60</td>
							</tr>
							<tr>
							<th scope="row">5% One Card Additional Rebate2 (Based on a monthly total spend of S$2,000)</th>
								<td>S$4.50</td>
								<td>-</td>
							</tr>
							<tr>
							<th scope="row">Total Effective Savings (%)</th>
								<td>S$20.80 (20.8%)</td>
								<td>S$13.60 (13.6%)</td>
							</tr>
							</tbody>
							</table>                                 
	                    </div>

	                </div>

	            </div>
				

	        </section>

	        <section class="header-container">
	            <div class="container ">

	                <div class="row">

	                    <div class="col-sm-12 col-md-6">
	                        
	                    </div>

	                    <div class="col-sm-12 col-md-6 col-lg-6">
	                        <button class="cta-btn btn">APPLY NOW</button>
	                        <p>1. The percentage savings shown are for illustrative purposes only. The total percentage savings of 20.8% is calculated based on 5% site discount and 5% Shell Escape discount, 7% SMART$ rebate and/or, if applicable, 5% UOB One Card rebate. SMART$ rebate and/or UOB One Card rebate apply after Shell discount and Shell Escape discount. 1 SMART$ is equivalent to S$1.00. SMART$ rebate is not applicable to UOB PRVI Miles Platinum American Express® Card, UOB Preferred Platinum American Express® Card, UOB UnionPay Platinum Card, Bank 121, MPC MasterCard, Travel Accounts, Purchasing and Private Label Card. UOB SMART$ and UOB One Card terms and conditions apply. Other terms and conditions apply.</p>

							<p>2. Visit uob.com.sg/one for full terms and conditions.</p>

							<h1 class="headline">
	                        	Pump at SPC and drive away with up to S$900 SPC vouchers
	                        </h1>

	                        <div class="row">
	                        	<div class="col-sm-6 col-md-6 col-lg-6 column-image">
		                            <img class="" src="{{ "/img/spc_photo.jpg" | relURL }}" />
	                        	</div>
	                        	<div class="col-sm-6 col-md-6 col-lg-6">
		                            <p><b>Step 1</b>: Receive one complimentary SPC NDP car decal when you make any fuel purchase, while stocks last!</p>

									<p><b>Step 2</b>: Display your SPC NDP decal and be spotted and stand to win S$300 worth of SPC vouchers while fueling up your vehicle with the displayed decal at any SPC Service Station.</p>

									<p><b>Step 3</b>: Triple your winnings and get up to S$900 worth of SPC vouchers when you make your fuel purchases with UOB Cards!</p>

									<button class="cta-btn btn">FIND OUT MORE</button>
	                        	</div>
	                        	<div>
	                        		<h4>Plus, fill up and save up to 24% at SPC with UOB Cards.</h4>
									<p>Now you can enjoy up to 24% off your petrol purchases at SPC with your UOB and SPC&U Cards. Plus, get another S$10 off instantly with just UNI$600+.</p>

									<p>To get the best savings, sign up for an SPC&U Card and receive it instantly at the station.</p>

									<p>Enjoy an incredible 15% off petrol purchases with your UOB Credit/Debit Card and SPC&U Card.</p>
									<p>Save up to 5% discount in a single transaction for every S$51 charged to your UOB Visa, MasterCard or UnionPay Card.</p>
									<p>Boost your savings with an additional S$10 off instantly with just UNI$600.</p>

									<a>Find your nearest SPC Service Station here </a>
	                        	</div>
	                        </div>                                   
	                    </div>

	                </div>

	            </div>
	        </section>

			<section class="example-savings">
	        	<div class="container ">

	                <div class="row">

	                    <div class="col-sm-12 col-md-6">
	                        
	                    </div>

	                    <div class="col-sm-12 col-md-6 col-lg-6">
	                        <table class="table">
								<thead>
									<tr>
										<th scope="col">Example of savings calculations based on S$100 Gross spend on fuel purchases at SPC</th>
										<th scope="col">UOB One Card</th>
										<th scope="col">Other UOB Credit/Debit Cards</th>
									</tr>
								</thead>
							<tbody>
							<tr>
								<th scope="row">SPC&U Card Discount</th>
								<td>S$6.00 (10%)</td>
								<td>S$6.00 (10%)</td>
							</tr>
							<tr>
							<th scope="row">UOB Credit/Debit Card Discount</th>
								<td>S$3.00 (5%)</td>
								<td>S$3.00 (5%)</td>
							</tr>
							<tr>
							<th scope="row">Nett spend (Less 15% discount)</th>
								<td>S$1.00</td>
								<td>S$1.00</td>
							</tr>
							<tr>
							<th scope="row">UOB Cards Offer: Additional S$3 off (every S$51 nett spend)</th>
								<td>S$3.00 (5%)</td>
								<td>S$3.00 (5%)</td>
							</tr>
							<tr>
							<th scope="row">UOB One Card rebate (Up to 5% rebate with min. S$2,000 per statement month per qualifying Quarter)</th>
								<td>S$62.40 (5%)</td>
								<td>N.A.</td>
							</tr>
							<tr>
							<th scope="row">Total Savings (%)</th>
								<td>S$14.40 (24%)</td>
								<td>S$12.00 (20%)</td>
							</tr>
							</tbody>
							</table>                                 
	                    </div>

	                </div>

	            </div>
				
	        </section>

	        <section class="header-container">
	            <div class="container ">

	                <div class="row">

	                    <div class="col-sm-12 col-md-6">
	                        
	                    </div>

	                    <div class="col-sm-12 col-md-6 col-lg-6">
	                        <button class="cta-btn btn">APPLY NOW</button>
	                        <p>†S$3 off is only applicable with every gross S$60 spend (or S$51 nett after all station discount and/or coupons are deducted from the gross amount), for payment made with UOB Visa, MasterCard or UnionPay Credit/Debit Cards only.</p>
	                        <p>#Enjoy up to 5% cash rebate based on a spend of S$2,000 monthly for each qualifying quarter (consisting of 3 consecutive statement periods) with min. 3 purchases monthly to earn the quarterly cash rebate of S$300. Alternatively, enjoy up to 3.33% cash rebate based on a spend of S$500 or S$1,000 monthly for each qualifying quarter (consisting of 3 consecutive statement periods) with min. 3 purchases monthly to earn the quarterly cash rebate of S$50 or S$100 respectively. Please refer to full set of UOB One Visa Credit Card Terms and Conditions at uob.com.sg/one.<p>

							<p>*Calculation is based on total dollar savings of S$60.00 gross spend.</p>

							<p>Note: No UNI$ will be issued for all transactions at SPC.</p>
                                 
	                    </div>

	                </div>

	            </div>
	        </section>

		</div>

{{ partial "scripts" . }}
{{ partial "footer" . }}
