{{ partial "head" . }}

		<div class="page-container apply-now-container">
			
			{{ partial "navbar" . }}

	        <div class="header-container">
	            <div class="container ">

	                <div class="row">

	                    <div class="col-sm-12 col-md-6">
	                        <img class="" src="{{ "/img/apply-now.png" | relURL }}" />
	                    </div>

	                    <div class="col-sm-12 col-md-5 col-lg-5">
	                    	<div class="headline-wrapper">
		                    	<span>Receive up to</span>
		                        <h1 class="headline">S$250*</h1>
		                    	<span>Cash Credit when you apply for</span>
		                    	<span>UOB One Card.</span>
	                    	</div>

	                        <div class="apply-info">
	                        	<h1 class="apply-info-headline">ONE Card</h1>
	                        	<div class="row">
		                        	<div class="col-sm-12 col-md-6 col-lg-6">
		                        		<img class="icon" src="{{ "/img/icon_coins.png" | relURL }}" />
		                        		<h5>Principal Card:</h5>
		                        		<p>S$192.60 yearly <br />(First-year card fee waiver)</p>

										<h5>Supplementary card:</h5>
										<p>1st card: Free <br /> Subsequent card: S$96.30</p>
										<p>Fees are inclusive of Singapore's prevailing Goods and Services Tax (GST). Enjoy automatic waiver of annual fee waiver on the anniversary date with a minimum spend of S$12,000.</p>
                        				<button class="cta-btn btn">APPLY NOW</button>
		                        	</div>
		                        	<div class="col-sm-12 col-md-6 col-lg-6">
		                        		<img class="icon" src="{{ "/img/icon_checklist.png" | relURL }}" />
		                        		<h5>Singapore citizen/PR:</h5>
		                        		<p>Min. annual income of S$30,000 OR Fixed Deposit collateral of at least S$10,000</p>
										<h5>Foreigners:</h5>
										<p>Min. annual income of S$40,000 OR Fixed Deposit collateral of at least S$10,000</p>
		                        	</div>
		                        </div>
	                        </div>   

	                        <div class="apply-info">
	                        	<h1 class="apply-info-headline">ONE Account</h1>
	                        	<div class="row">
		                        	<div class="col-sm-12 col-md-6 col-lg-6">
		                        		<img class="icon" src="{{ "/img/icon_coins.png" | relURL }}" />
		                        		<p>Fall below fee of S$2/month (below S$500 balance)</p>
										<p>S$30 for closing of account within 6 months of opening</p>
										<p>S$10 per additional cheque book (50 leaves)</p>
										<p>For a list of applicable fees, please click here</p>
                        				<button class="cta-btn btn">APPLY NOW</button>
		                        	</div>
		                        	<div class="col-sm-12 col-md-6 col-lg-6">
		                        		<img class="icon" src="{{ "/img/icon_checklist.png" | relURL }}" />
		                        		<h5>Initial Amount:</h5>
		                        		<p>S$500</p>
										<h5>Foreigners:</h5>
										<p>>18 years old</p>
		                        	</div>
		                        </div>
	                        </div>                           
	                    </div>
	                </div>

	            </div>
	        </div>
		</div>

{{ partial "scripts" . }}
{{ partial "footer" . }}
