@font-face {
  font-family: 'agendabold';
  src: url('../fonts/Agenda-Bold.eot');
  src: url('../fonts/Agenda-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Agenda-Bold.woff2') format('woff2'), url('../fonts/AgendaBold.woff') format('woff'), url('../fonts/Agenda-Bold.ttf') format('truetype'), url('../fonts/Agenda-Bold.svg#agendabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agendamedium';
  src: url('../fonts/agendamedium-webfont.eot');
  src: url('../fonts/agendamedium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agendamedium-webfont.woff2') format('woff2'), url('../fonts/agendamedium-webfont.woff') format('woff'), url('../fonts/agendamedium-webfont.ttf') format('truetype'), url('../fonts/agendamedium-webfont.svg#agendamedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agendamedium';
  src: url('../fonts/Agenda-Light.woff2') format('woff2'),
      url('../fonts/Agenda-Light.woff') format('woff'),
       url('../fonts/Agenda-Light.ttf') format('truetype'),
       url('../fonts/Agenda-Light.svg#Agenda-Light') format('svg'),
       url('../fonts/Agenda-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic-webfont.eot');
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff'), url('../fonts/opensans-italic-webfont.ttf') format('truetype'), url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.eot');
  src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}